<section class="blog">
  <div class="container">
    <div class="blog__items">
      <div class="blog__item">
        <%= image_tag 'blog-1.jpg', class: 'blog__item-img', alt: 'blog page 1' %>
        <h4 class="blog__item-title">
          An easier way to buy your next Toyota..
        </h4>
        <%= link_to 'more', '#', class: 'blog__item-link' %>
      </div>
      <div class="blog__item">
        <%= image_tag 'blog-2.jpg', class: 'blog__item-img', alt: 'blog page 2' %>
        <h4 class="blog__item-title">
          A Guide to Road-Tripping With Pets..
        </h4>
        <%= link_to 'more', '#', class: 'blog__item-link' %>
      </div>
    </div>
    <%= link_to 'SHOW MORE', '#', class: 'showmore__link' %>
  </div>
<section>
