<%= form_with model: @car, local: true, class: 'form-horizontal' do |form| %>
  <div class="form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :description, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :price, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :price, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :leasing_price, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :leasing_price, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :image, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.file_field :image, class: 'form-control-file' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :category, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :category, options_for_select([['PRE-OWNED', 'PRE-OWNED'], ['NEW', 'NEW']]), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :color, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :color, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :year, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :year, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :mileage, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :mileage, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :transmission_type, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :transmission_type, options_for_select([
        ['Manual', 'Manual'], 
        ['Automatic', 'Automatic'], 
        ['CVT', 'CVT'], 
        ['AMT', 'AMT'], 
        ['Semi', 'Semi']
      ]), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :engine_type, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :engine_type, options_for_select([
        ['Gasoline', 'Gasoline'], 
        ['Diesel', 'Diesel'], 
        ['Electric', 'Electric'], 
        ['Hybrid', 'Hybrid']
      ]), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :exterior, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :exterior, [
        'Alloy wheels',
        'Roof rails',
        'Spoiler', 
        'Tinted windows',
        'Dumper skirt'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :safety_systems, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :safety_systems, [
        'ABS',
        'ESP',
        'Anti-slip', 
        'Immobilizer'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :airbags, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :airbags, [
        'Front',
        'Lateral',
        'Rear' 
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :interior, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :interior, [
        'Genuine leather',
        'Dark',
        'White',
        'Red',
        'Blue',
        'Fabric'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
  <%= form.label :comfort, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :comfort, [
        'Cruise control',
        'Multimedia control from the steering wheel',
        'Front electric windows',
        'Rear electric windows'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :heating, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :heating, [
        'Wind shield',
        'Mirrors',
        'Seats'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :climate, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :climate, [
        'Climate control',
        'Air control'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :multimedia, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :multimedia, [
        'Multimedia',
        'AUX or iPod',
        'CD or MP3',
        'USB'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :headlights, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_check_boxes :headlights, [
        'Fog',
        'LED'
      ], :itself, :itself %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :body_type, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :body_type, options_for_select([
        ['Sedan', 'Sedan'],
        ['Hatchback', 'Hatchback'],
        ['Estate', 'Estate'],
        ['Coupe', 'Coupe'],
        ['Cabriolet', 'Cabriolet'],
        ['SUV', 'SUV'],
        ['Pickup', 'Pickup'],
        ['Minivan', 'Minivan'],
        ['Van', 'Van'],
        ['Truck', 'Truck']
      ]), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :engine_capacity, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :engine_capacity, step: 0.01, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :engine_power, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :engine_power, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :drivetrain, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :drivetrain, options_for_select([
        ['Front wheel', 'Front wheel'],
        ['Rear wheel', 'Rear wheel'],
        ['All wheel', 'All wheel'],
        ['Part time', 'Part time']
      ]), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :fuel_consumption, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.number_field :fuel_consumption, step: 0.01, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :city, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :city, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <div class="col-sm-10 offset-sm-2">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
